slurm/compute*
slurm/bk_fish.slurm
slurm/test*
*.pyc
*.py~
*.md~
notebooks/*
bk/*.param
pk/*.param
_*.py
figs/*
pk/_*
bk/_*
pk/*.pyc
bk/*.pyc
bk/old*
src/*.pyc
src/_*.py
src/test*.py
*test*.py
*corr*.py
*old*
*nseries*.py
bk/compute_bk_win_data.py
*nseries*.py
